/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2015, 2:00:46 PM
    Author     : hide
*/



/* Map */ 
#map { 
    background: #000;
    width:400px; 
    height:200px; 
} 
/* Info window size (optional) */ 
.gomapMarker { 
    display: block; 
    width: 150px; 
    height: auto; 
} 

